<div class="col-12 m-2 p-2">
    <ul>
        {{#each list}}
        <li>
            <button {{#if @last}} disabled {{/if}}>{{name}} - {{@index}}</button>
        </li>
        {{/each}}
        <br>
        <br>

        {{#each user}}
        <li>
            {{@key}}: {{#if value}}{{value}}{{else}}{{text}}{{/if}},

        </li>
        {{/each}}
    </ul>
</div>

{{!-- {{#each actionList}}
<div class="me-2">
    {{#if isWarning}}<button class="btn btn-warning">{{name}}</button>
    {{/if}}
</div>
<div class="me-2">
    {{#if isError}}<button class="btn btn-outline-danger">{{name}}</button>
    {{/if}}
</div>
<div class="me-2">
    {{#if isSuccess}}<button class="btn btn-success">{{name}}</button>
    {{/if}}
</div>
<div class="me-2">
    {{#if isGood}}<button class="btn btn-outline-success">{{name}}</button>
    {{/if}}
</div>
{{/each}} --}}