<main>
    <section class="col-12">
        {{#with newsBlock}}
        <h2 class="text-center py-5">{{title}}</h2>


        <div class="row g-2">
            {{#each cards}}
            <div class="col-3">
                <div class="card text-bg-dark">
                    <div class="card-header">{{title}}
                        {{#if isTop}}<span class="badge text-bg-danger rounded-pill text-uppercase ms-2">
                            Top</span>{{/if}}
                        {{#if isNew}}<span class="badge text-bg-success rounded-pill text-uppercase ms-2">
                            New</span>{{/if}}
                    </div>

                    <div class="card-body">

                        <p>{{description}}</p>

                    </div>

                </div>
            </div>
            {{/each}}
        </div>

        {{/with}}
    </section>
    <hr>

    <section class="col-12 py-4 ">
        {{#with goodsBlock}}

        <div class="row g-2">

            <div class="col-12 mb-5">
                <div class="nav nav-tabs">
                    {{#each tabs}}
                    <div class="nav-item">
                        <a href="/#"
                            class="nav-link {{#if isActive}} active {{/if}} {{#if isDisabled}} disabled{{/if}}">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>

        {{>shopcard}}
        {{/with}}
    </section>

    <hr>

    <section class="col=12 py-3">
        {{#with subscribe}}

        <div class="card">
            <div class="row">
                <div class="card-body text-bg-dark d-flex justify-content-between">
                    <div>
                        <h2>{{header}}</h2>
                        <p>{{description}}</p>
                    </div>
                    <div class="d-flex align-items-center">
                        {{#each buttons}}
                        <a href="{{link}}"><button class="btn btn-primary  mx-1">{{text}}</button></a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/with}}
    </section>

    <hr>

    {{>shopaction}}

    <hr>



</main>